.ogtitle {
  font-kerning: normal;
  font-variant: small-caps;
  text-align: left;
  filter: blur(1px);
  letter-spacing: -4px;
  margin-left: 20px;
  margin-top: -6px;
  margin-bottom: -2px;

}

.wrapper {
  border-bottom: 5px;
  font-family: monospace;
  text-align: center;

}
.links {
  padding: 200px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  font-family: monospace;
  word-spacing: 30px;
}

li {
  display: inline;
  text-align: center;
}

a {
  outline: white;
  text-decoration: monospace;
  display: inline-block;
  width: 10.5%;
  text-align: center;
  line-height: 90px;
  color: black;
  margin-top: 5px;
}

li:last-child a {
  margin-right: 0;
  text-align: center;
}

a:link, a:visited, a:focus {
  background: white;
  color: black;
  text-align: center;
}

a:hover {
  background: black;
  border-radius:500px;
  border-style:ridge;
  font-family: monospace;
  text-align:center;
  filter: blur(20px);

}

a:active {
  background: black;
  color: black;
}

.abouttitle {
  padding-top: 80px;
  filter: blur(2px);
  letter-spacing: -4px;
  text-align: center;
  margin-left: 50px;
  font-family: monospace;
}

.mainabout {
  float: bottom;
  filter: blur(5px);
  text-align: center;
}

.sidebar {
  letter-spacing: 3px;
  font-family: monospace;
  padding: 70px 0;
  text-align: center;
  margin-top: 10px;
}

.wake {}
