.ogtitle {
  font-kerning: normal;
  font-variant: small-caps;
  text-align: left;
  filter: blur(1px);
  letter-spacing: -4px;
  margin-left: 10px;
  margin-top: -6px;
  margin-bottom: -2px;

}

.wrapper {
  border-bottom: 5px;
  font-family: monospace;
  text-align: center;

}
.links {
  padding: 200px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  font-family: monospace;
  word-spacing: 30px;
}

li {
  display: inline;
  text-align: center;
  font-family: monospace;
}

a {
  outline: white;
  text-decoration: monospace;
  display: inline-block;
  width: 10.5%;
  text-align: center;
  line-height: 90px;
  color: black;
  margin-top: 5px;
}

li:last-child a {
  margin-right: 0;
  text-align: center;
  font-family: monospace;
}

a:link, a:visited, a:focus {
  background: white;
  color: black;
  text-align: center;
  font-family: monospace;
}

a:hover {
  background: black;
  border-radius:500px;
  border-style:ridge;
  font-family: monospace;
  text-align:center;
  filter: blur(20px);

}

a:active {
  background: black;
  color: black;
  font-family: monospace;
}

.abouttitle {
  padding-top: 80px;
  filter: blur(2px);
  letter-spacing: -4px;
  text-align: center;
  margin-left: 50px;
  font-family: monospace;
}

.mainabout {
  float: bottom;
  filter: blur(5px);
  text-align: center;
  border-bottom: solid 2px;
}

.sidebar {
  letter-spacing: 3px;
  font-family: monospace;
  padding: 70px 0;
  text-align: center;
  margin-top: -70px;
}

.wake {
    border-top: solid 60px;
    margin-top: 20px;
    margin-left: inherit;
    font-kerning: normal;
    font-variant: small-caps;
    text-align: left;
    filter: blur(.5px);
    letter-spacing: -4px;
    margin-left: 20px;
    margin-top: -6px;
    margin-bottom: -2px;
}

.skeleton {
  background-position: center;
  margin-left: 50px;
  margin-top: -10px;
  filter: blur(25px);
  position: center fixed;
  width: 100%;
}

.aboutwho {
  filter: blur(1px);
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: monospace;
  text-indent: 70px;
}

.description {
  margin-left: 50px;
  width: 500px;
  padding: 30px;
  font-family: monospace;
  background-color: black;
  color: white;
}

.whoiam {
  border: solid 1px;
  margin-top: 5px;
  margin-left: 50px;
  width: 500px;
  padding: 30px;
  font-family: monospace;
  background-color: black;
  color: white;
}

.hi {
  margin-top: 27px;
  filter: blur(1px);
  letter-spacing: -4px;
  margin-left: 210px;
  font-family: monospace;
}
.hilinks {
  margin-top: -150px;
  margin-left: -90px;
  padding: 200px;
  font-family: monospace;
  word-spacing: 30px;
}

.logdos {
  filter: blur(1px);
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: monospace;
  text-indent: 70px;
}
.castle {
  border: solid 1px;
  margin-top: 5px;
  margin-left: 50px;
  width: 400px;
  padding: 30px;
  font-family: monospace;
  background-color: black;
  color: white;
  font-family: monospace;
}
.wiki {
  border: solid 1px;
  margin-top: 5px;
  margin-left: 50px;
  width: 400px;
  padding: 30px;
  font-family: monospace;
  background-color: black;
  color: white;
}
.procede {
  margin-top: auto;
  margin-bottom: 600px;
  text-align: center;
  font-family: monospace;
  word-spacing: px;
  filter: blur(1px);
}

.videos {
  position: inherit;
  float:right;
  margin-right: 100px;
  margin-top: 100px;

}

.keepgoing {
  padding-top: 80px;
  filter: blur(1px);
  letter-spacing: -4px;
  text-align: center;
  margin-left: 50px;
  font-family: monospace;
}
.skeleton2 {
  background-position: center;
  margin-left: 50px;
  margin-top: 60px;
  position: center fixed;
  width: 100%;
}
.contact {
  border: solid 1px;
  margin-top: 5px;
  margin-left: 50px;
  width: 500px;
  padding: 30px;
  font-family: monospace;
  background-color: black;
  color: white;
}
.contakt {
  margin-top: 27px;
  filter: blur(1px);
  letter-spacing: 1px;
  margin-left: 50px;
  font-family: monospace;
}
